{% extends "base.html" %} {% block content %}
<h1>Medical Record List</h1>
<a href="{% url 'medical_record_create' %}">Add New Medical Record</a>
<ul>
  {% for medical_record in medical_records %}
  <li>
    <a href="{% url 'medical_record_detail' medical_record.record_id %}"
      >{{ medical_record.patient.user.username }} - {{
      medical_record.record_date }}</a
    >
    <a href="{% url 'medical_record_update' medical_record.record_id %}"
      >Edit</a
    >
    <a href="{% url 'medical_record_delete' medical_record.record_id %}"
      >Delete</a
    >
  </li>
  {% endfor %}
</ul>
{% endblock %}
